<div class="row m-5">
  <div class="mt-lg-5 mb-3">
    <h2 class="text-uppercase text-primary fw-bold title-section">
      Personal Profile
    </h2>
  </div>
  <div class="d-flex flex-lg-row flex-column-reverse">
    <div class="col-lg-9">
      <dl class="row desc-section">
        <dt class="col-5">Full Name</dt>
        <dd class="col-7">Muhammad Ikbal</dd>
        <dt class="col-5">Nick Name</dt>
        <dd class="col-7">Ikbal</dd>
        <dt class="col-5">Place & Date of Birth</dt>
        <dd class="col-7">Medan, 20 November 1995</dd>
        <dt class="col-5">Origin Address</dt>
        <dd class="col-7">
          Jln. Bromo Gg. Setia Baru II No. 18 B Kel. Tegal Sari III, Kec. Medan
          Area Kota Medan, Sumatera Utara, 20216
        </dd>
        <dt class="col-5">Current Address</dt>
        <dd class="col-7">
          Jln. Baru Perumahan Raudha Residence Blok B No. B11 Kec. Sawangan,
          Kota Depok Jawa Barat, 16518
        </dd>
        <dt class="col-5">Status</dt>
        <dd class="col-7">Single</dd>
        <dt class="col-5">Gender</dt>
        <dd class="col-7">Male</dd>
        <dt class="col-5">Height / Weight</dt>
        <dd class="col-7">170 cm / 63kg</dd>
        <dt class="col-5">Religion</dt>
        <dd class="col-7">Moeslim</dd>
        <dt class="col-5">Nationality</dt>
        <dd class="col-7">Indonesia</dd>
        <dt class="col-5">Mobile Number</dt>
        <dd class="col-7">+62 813 7060 9353</dd>
        <dt class="col-5">E-mail</dt>
        <dd class="col-7">muhammadikbal21@gmail.com</dd>
      </dl>
    </div>
    <div class="col-lg-3">
      <div class="d-flex align-items-center justify-content-center">
        <img
          src="assets/images/4x6.jpg"
          alt="My Profile Photo"
          class="img-thumbnail mx-auto"
        />
      </div>
    </div>
  </div>
</div>
