<div class="row mb-5">
  <div class="col">
    <h2 class="text-enigma text-uppercase">Objective</h2>
    <hr class="col mb-4" />
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
      pellentesque arcu sit amet nisl sollicitudin, vel bibendum lorem euismod.
      Pellentesque a nulla ut neque sagittis viverra vel ac arcu. Ut dignissim
      bibendum dolor nec aliquam. Integer finibus tristique tortor, quis
      elementum tortor venenatis quis. Nulla imperdiet lorem at turpis lobortis
      pretium. Donec porta, leo at sodales tristique, elit tellus luctus turpis,
      at mollis quam nunc sed metus. Sed vel augue ac lorem convallis commodo
      rhoncus non ligula. Morbi ac quam a mi dictum vestibulum quis sed augue.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Ut eget dignissim dolor, non aliquam dui. Praesent
      vestibulum velit sit amet mauris rhoncus ultrices. Etiam dapibus leo at
      leo tincidunt, sit amet posuere enim tempor.
    </p>
    <figure class="text-center mt-5">
      <blockquote class="blockquote">
        <p>"Enjoy your life!"</p>
      </blockquote>
      <figcaption class="blockquote-footer">Chris Pine</figcaption>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="text-enigma text-uppercase">Experience</h2>
    <hr class="col mb-4" />
    <div class="row mb-3">
      <div class="col-auto">
        <i class="bi-geo fs-1"></i>
      </div>
      <div class="col">
        <p class="lead mb-1">Fullstack Developer</p>
        <p class="text-uppercase">
          <strong class="border-end border-2 border-dark pe-3 me-3"
            >Enigmacamp IT Bootcamp</strong
          >
          OCT 2019-PRESENT
        </p>
        <ul class="list-unstyled">
          <li><i class="bi-check text-dark"></i>Design a system</li>
          <li><i class="bi-check text-dark"></i>Design an application</li>
          <li><i class="bi-check text-dark"></i>Develop a backend service</li>
          <li><i class="bi-check text-dark"></i>Develop a frontend service</li>
          <li><i class="bi-check text-dark"></i>Deploy an application</li>
        </ul>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-auto">
        <i class="bi-geo fs-1"></i>
      </div>
      <div class="col">
        <p class="lead mb-1">Fullstack Developer</p>
        <p class="text-uppercase">
          <strong class="border-end border-2 border-dark pe-3 me-3"
            >Enigmacamp IT Bootcamp</strong
          >
          OCT 2019-PRESENT
        </p>
        <ul class="list-unstyled">
          <li><i class="bi-check text-dark"></i>Design a system</li>
          <li><i class="bi-check text-dark"></i>Design an application</li>
          <li><i class="bi-check text-dark"></i>Develop a backend service</li>
          <li><i class="bi-check text-dark"></i>Develop a frontend service</li>
          <li><i class="bi-check text-dark"></i>Deploy an application</li>
        </ul>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-auto">
        <i class="bi-geo fs-1"></i>
      </div>
      <div class="col">
        <p class="lead mb-1">Fullstack Developer</p>
        <p class="text-uppercase">
          <strong class="border-end border-2 border-dark pe-3 me-3"
            >Enigmacamp IT Bootcamp</strong
          >
          OCT 2019-PRESENT
        </p>
        <ul class="list-unstyled">
          <li><i class="bi-check text-dark"></i>Design a system</li>
          <li><i class="bi-check text-dark"></i>Design an application</li>
          <li><i class="bi-check text-dark"></i>Develop a backend service</li>
          <li><i class="bi-check text-dark"></i>Develop a frontend service</li>
          <li><i class="bi-check text-dark"></i>Deploy an application</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="text-enigma text-uppercase">Education</h2>
    <hr class="col mb-4" />
    <p class="lead mb-1">S1 - Information System</p>
    <p class="text-uppercase">
      <strong class="border-end border-2 border-dark pe-3 me-3"
        >Gunadarma University</strong
      >
      2012 - 2016
    </p>
    <p class="lead mb-1">Science</p>
    <p class="text-uppercase mb-3">
      <strong class="border-end border-2 border-dark pe-3 me-3"
        >Public High School 28 Jakarta</strong
      >
      2009 - 2012
    </p>
    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-warning px-5" id="connect">Let's Connect!</button>
    </div>
  </div>
</div>
