<div class="row justify-content-center">
  <div class="col-sm-10 py-5">
    <img
      src="assets/images/4x6.jpg"
      alt="My Profile"
      class="img-thumbnail rounded-circle mx-auto"
    />
  </div>
  <div class="col-sm-10">
    <h1 class="text-center fs-3">
      Muhammad Ikbal<br /><span class="fs-5">Front End Developer</span>
    </h1>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10">
    <h2 class="fs-5 mb-3">Contact</h2>
    <dl class="row">
      <dt class="col-1"><i class="bi-telephone-fill"></i></dt>
      <dd class="col-11">
        <a href="tel:+62 81370609353" class="text-white text-decoration-none"
          >+62 81370609353</a
        >
      </dd>
      <dt class="col-1"><i class="bi-at"></i></dt>
      <dd class="col-11">
        <a
          href="mailto:muhammadikbal21@gmail.com"
          class="text-white text-decoration-none"
        >
          muhammadikbal21@gmail.com
        </a>
      </dd>
      <dt class="col-1"><i class="bi-geo-alt-fill"></i></dt>
      <dd class="col-11">Jakarta, Indonesia</dd>
    </dl>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10">
    <h2 class="fs-5 mb-3">Skills</h2>
    <dl class="row">
      <dt class="col-9 fw-normal">JavaScript</dt>
      <dd class="col-3 fw-bold">75%</dd>
      <dt class="col-9 fw-normal">HTML</dt>
      <dd class="col-3 fw-bold">80%</dd>
      <dt class="col-9 fw-normal">CSS</dt>
      <dd class="col-3 fw-bold">75%</dd>
    </dl>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10 mb-4">
    <h2 class="fs-5 mb-3">Languages</h2>
    <div class="row">
      <div class="col">
        <div class="d-flex flex-row">
          <h3>
            <span class="badge bg-secondary me-3">Indonesia</span>
          </h3>
          <h3>
            <span class="badge bg-secondary me-3">English</span>
          </h3>
          <h3><span class="badge bg-secondary">Minang</span></h3>
        </div>
      </div>
    </div>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10 mb-4">
    <h2 class="fs-5 mb-3">Hobbies</h2>
    <div class="row">
      <div class="col">
        <div class="d-flex flex-row">
          <h3><span class="badge bg-secondary me-3">Coding</span></h3>
          <h3>
            <span class="badge bg-secondary me-3">Swimming</span>
          </h3>
          <h3><span class="badge bg-secondary">Futsal</span></h3>
        </div>
      </div>
    </div>
  </div>
  <hr class="col-sm-10 mb-4" />
  <div class="col-sm-10 mb-4">
    <h2 class="fs-5 mb-3">Social Media</h2>
    <dl class="row">
      <dt class="col-1"><i class="bi bi-github"></i></dt>
      <dd class="col-11">
        <a
          href="https://github.com/muhammadikbal21"
          class="text-white text-decoration-none"
          >muhammadikbal21</a
        >
      </dd>
      <dt class="col-1"><i class="bi bi-linkedin"></i></dt>
      <dd class="col-11">
        <a
          href="https://www.linkedin.com/in/muhammad-ikbal-bb9b76179/"
          class="text-white text-decoration-none"
        >
        muhammadikbal21
        </a>
      </dd>
      <dt class="col-1"><i class="bi bi-facebook"></i></dt>
      <dd class="col-11">Muhammad Ikbal</dd>
    </dl>
  </div>
</div>
