<div class="row">
  <div class="col">
    <!-- one way dari luar ditandai kurung siku ([todos]) dan properti biasa (title) seperti dibawah ini -->
    <!-- one way dari dalam ditandai kurung bulat (selectedTodo) seperti dibawah ini -->
    <!-- two way binding ditandai dengan kurung siku bulat [(toggleDone)] seperti dibawah ini -->
    <app-todo-list
      [list]="todos"
      title="Judul Baru"
      [(todo)]="selectedTodo"
      (deletedTodo)="deleteTodo($event)"
    ></app-todo-list>
  </div>
  <div class="col">
    <!-- contoh penerapan two way binding dengan getter setter property -->
    <app-todo-form [(todo)]="formData"></app-todo-form>
  </div>
</div>
