<h2>{{ pageTitle }}</h2>
<!-- *ngIf dan *ngFor adalah Directive -->
<!-- ng-container adalah pembungkus, dapat digunakan pada directive (direkomendasikan) -->
<ng-container *ngIf="todos">
  <ul class="list-unstyled">
    <li *ngFor="let item of todos" >
      <strong *ngIf="item.isDone; else notDone">
        <i class="bi bi-check-square text-success"></i>
      </strong>
      <!-- ini akan dirender ketika kondisi else dari *ngIf -->
      <ng-template #notDone>
        <strong>
          <i class="bi bi-square"></i>
        </strong>
      </ng-template>
      <!-- ng-container tidak dapat dilihat elementnya di inspect element -->
      <ng-container>
        {{ item.name }}
      </ng-container>
    </li>
  </ul>
</ng-container>
