<div class="mb-4">
  <h2 class="text-uppercase text-primary fw-bold title-section">Skills</h2>
</div>
<div class="row">
  <div class="col-3 position-relative">
    <div class="bg-primary p-5 rounded-circle">&nbsp;</div>
    <p
      class="
        desc-section
        text-white
        fw-bold
        position-absolute
        skill-accumulative
      "
    >
      75%
    </p>
    <p class="text-center fw-bold fs-5 mt-2">HTML & CSS</p>
  </div>
  <div class="col-3 position-relative">
    <div class="bg-primary p-5 rounded-circle">&nbsp;</div>
    <p
      class="
        desc-section
        text-white
        fw-bold
        position-absolute
        skill-accumulative
      "
    >
      75%
    </p>
    <p class="text-center fw-bold fs-5 mt-2">Javascript</p>
  </div>
  <div class="col-3 position-relative">
    <div class="bg-primary p-5 rounded-circle">&nbsp;</div>
    <p
      class="
        desc-section
        text-white
        fw-bold
        position-absolute
        skill-accumulative
      "
    >
      75%
    </p>
    <p class="text-center fw-bold fs-5 mt-2">React JS</p>
  </div>
  <div class="col-3 position-relative">
    <div class="bg-primary p-5 rounded-circle">&nbsp;</div>
    <p
      class="
        desc-section
        text-white
        fw-bold
        position-absolute
        skill-accumulative
      "
    >
      70%
    </p>
    <p class="text-center fw-bold fs-5 mt-2">React Native</p>
  </div>
  <div class="col-3 position-relative">
    <div class="bg-primary p-5 rounded-circle">&nbsp;</div>
    <p
      class="
        desc-section
        text-white
        fw-bold
        position-absolute
        skill-accumulative
      "
    >
      70%
    </p>
    <p class="text-center fw-bold fs-5 mt-2">MySQL</p>
  </div>
  <div class="col-3 position-relative">
    <div class="bg-primary p-5 rounded-circle">&nbsp;</div>
    <p
      class="
        desc-section
        text-white
        fw-bold
        position-absolute
        skill-accumulative
      "
    >
      70%
    </p>
    <p class="text-center fw-bold fs-5 mt-2">MongoDB</p>
  </div>
  <div class="col-3 position-relative">
    <div class="bg-primary p-5 rounded-circle">&nbsp;</div>
    <p
      class="
        desc-section
        text-white
        fw-bold
        position-absolute
        skill-accumulative
      "
    >
      65%
    </p>
    <p class="text-center fw-bold fs-5 mt-2">NodeExpress JS</p>
  </div>
  <div class="col-3 position-relative">
    <div class="bg-primary p-5 rounded-circle">&nbsp;</div>
    <p
      class="
        desc-section
        text-white
        fw-bold
        position-absolute
        skill-accumulative
      "
    >
      65%
    </p>
    <p class="text-center fw-bold fs-5 mt-2">Java Springboot</p>
  </div>
</div>
